{% set isDisabled = navItem.disabled is defined and navItem.disabled == true %}
{% set isDropdown = dropdownItem is defined and dropdownItem == true %}

{% set classList = navItem.additionalClasses is defined ? navItem.additionalClasses : '' %}
{% set classList = classList ~ (isDropdown ? ' dropdown-item' : 'navbar-brand') %}
{% set classList = classList ~ (isDisabled ? ' disabled' : '') %}

{%- if navItem.dropdown is defined %}
    <div class="dropdown">
        <a class="navbar-brand dropdown-toggle" href="{{ navItem.url }}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{- navItem.name -}}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {%- for dropdownItem in navItem.dropdown %}
                {%- include 'partials/nav/nav-item.twig' with { navItem: dropdownItem, dropdownItem: true } only -%}
            {% endfor %}

        </ul>
    </div>
{% else %}
    {% if isDropdown -%}<li>{%- endif -%}
        <a class="{{ classList | trim }}" {% if not isDisabled -%} href="{{ navItem.url }}" {%- endif %} {{ navItem.additionalAttributes | default('') -}}>
            {{- navItem.name -}}
        </a>
    {%- if dropdownItem is defined -%}</li>{% endif %}
{% endif -%}
