{% extends "base.twig" %}

{% block body %}
    <h2>
        <a href="{{ path('spell--detail', {'id': spell.id}) }}">
            {{ spell.name }} {%- if spell.concentration -%}<sup>(c)</sup>{%- endif -%} {%- if spell.ritual -%}<sup>(r)</sup>{%- endif -%}
        </a>
    </h2>
    <p><em>{{ spell.spellLevel|format_number(style='ordinal') }}-level ({{ spell.tag.getActive()|join(', ')|title }})</em></p>
    <p><strong>School:</strong> {{ spell.school.getActive()|join(', ',)|title }}</p>
    <p><strong>Classes:</strong> {{ spell.classMap.getActive()|join(', ')|title }}</p>

    {% if spell.rareSpellCount %}
        <p><em>NB: {{spell.rareSpellCount|format_number(style='spellout')|title}} rare spell variant{{spell.rareSpellCount > 1 ? 's' : ''}} recorded</em></p>
    {% endif %}

    <sub>
        <p>Source: {{ spell.publishing.source }} by {{ spell.publishing.publisherName }}</p>
    </sub>
{% endblock %}
